<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.kyler.careersystem"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <provider
        android:name="com.facebook.FacebookContentProvider"
        android:authorities="com.facebook.app.FacebookContentProvider1234"
        android:exported="true"/>

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".ApplicantMainActivity"
            android:allowClearUserData="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Applicant.ChildApplicantActivity"
            android:allowClearUserData="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name=".Applicant.ChildFragments.MyresumeProfileFragment">
        </activity>
        <activity android:name=".Applicant.ChildFragments.MyresumeContactFragment">
        </activity>
        <activity android:name=".Applicant.ChildFragments.MyresumeAboutFragment">
        </activity>
        <activity android:name=".Applicant.ChildFragments.MyresumeEducationFragment">
        </activity>
        <activity android:name=".Applicant.ChildFragments.MyresumeSkillsFragment">
        </activity>
    </application>

</manifest>
